h1 {
    padding-top: 4.5rem;
}

.title-page {
    padding: 1.5rem 1.2rem;
    margin-bottom: -1rem;
}

.textdata {
    font-size: 11px;
}

form {
    width: 100%;
    background: #fafafa;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 0rem 1rem;
}

.items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 4rem;

}

.item {
    grid-column: span 2;
    padding: 1rem 1rem;
    overflow: hidden;
}

.item-1 {
    width: 100%;
    grid-column: span 2;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

.field {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0rem;
}

.field label {
    font-size: 13px;
    line-height: 13px;
    color: #222;
}

.input {
    padding: 14px 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;

}

.content {
    padding: 14px 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;

    min-height: 50px;
    resize: vertical;
}




.btns {
    padding: 0rem 1rem;
    padding-bottom: 1rem;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: end;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    background: #0009;
    font-size: 13px;
    line-height: 13px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    padding: 16px 28px;
    min-width: 140px;
    border: none !important;
    text-align: center;
    background-color: #036075 !important;
    color: #fff !important;
    text-transform: capitalize;
    text-align: center !important;

}

.button:hover {
    opacity: 0.9;
}

.btn-add {
    min-width: 150px !important;
    padding: 16px 14px !important;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    background-color: #028a78 !important;
    color: #fff !important;
}

.btn-add:hover {
    background-color: #015c50 !important;
    color: #fff !important;
}

.btn-action {
    padding: 16px 20px;
    background-color: #034075 !important;
    color: #fff !important;
}

.btn-action-d {
    padding: 16px 20px;
    background-color: #ee1207 !important;
    color: #fff !important;
}

.btn-cancel {
    padding: 16px 20px;
    background-color: #000a !important;
    color: #fff !important;
}

button:disabled {
    opacity: .6;
    cursor: not-allowed;
}

.msg {
    padding: 8px;
    border-radius: 6px;
    margin-top: 8px;
}

.msg.success {
    background: #e6ffed;
    color: #055a2d;
    border: 1px solid #b7f0c6;
}

.msg.error {
    background: #ffe6e6;
    color: #7a1212;
    border: 1px solid #ffbcbc;
}


.upload-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding-left: 2rem;
}

.upload-box {
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 3px;
    text-align: center;
    transition: all 0.3s ease;
    background: #fafafa;
    height: 90px;
    overflow: hidden;
    position: relative;
}

.upload-box.active {
    height: 210px;
}

.upload-box.small {
    height: 80px;
    width: 160px;
}

.upload-box:hover {
    border-color: #4f46e5;
    background: #f0f2ff;
}

.upload-box input[type="file"] {
    display: none;
}

.upload-box label {
    cursor: pointer;
    color: #4f46e5;
    font-weight: 600;
    position: absolute;
    z-index: 500;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-wrap {
    width: 100%;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.preview-wrap img {
    width: fit-content;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#output {
    display: none;
    font-size: 0.9rem;
    color: #555;
    word-wrap: break-word;
    background: #f4f4f4;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
    display: none;
    height: 0px;
    overflow: hidden;
}








.preview {
    display: flex;
    gap: 12px;
    align-items: center;
}

img.preview-img {
    max-width: 160px;
    max-height: 120px;
    border-radius: 6px;
    object-fit: cover;
    border: 1px solid #ccc;
}


button:disabled {
    opacity: .6;
    cursor: not-allowed;
}

.msg {
    padding: 8px;
    border-radius: 6px;
    margin-top: 8px;
}

.msg.success {
    background: #e6ffed;
    color: #055a2d;
    border: 1px solid #b7f0c6;
}

.msg.error {
    background: #ffe6e6;
    color: #7a1212;
    border: 1px solid #ffbcbc;
}

#output {
    width: 200px;
    height: 80px;
    overflow: hidden;
    font-size: 12px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 1rem 1rem;
    padding-top: 0;
    border-radius: 8px;
    width: 100%;
    max-width: 80vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 50vh;
}

.modal-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0px;
    margin-top: -1rem;
    border-bottom: 1px solid #aaa4;
}

.modal-heading .title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
}

.modal-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
    height: 60px;
    overflow: hidden;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.modal-body {
    padding: 1rem;
    padding-top: 2rem;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.modal form .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.8rem;
}

.modal form .field label {
    text-transform: capitalize;
    text-align: start;
    font-size: 14px;
    line-height: 14px;
    color: #666;
}

.modal form .field input,
.modal form .field select,
.modal form .field textarea {
    text-align: start;
    padding: 12px 10px;
    padding-right: 2rem;
    margin-left: 4px;
    border: 1px solid #aaa;
    outline: none;
}


.modal-footer {
    margin-top: 20px;
    text-align: right;
}

.modal-buttons {
    position: absolute;
    bottom: 1rem;

    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 90%;
}





.content-sm {
    width: 100%;
    height: -10px !important;
    padding: 0 !important;
    font-size: 12px !important;

}

.content_text {
    width: 100%;
    max-height: 56vh;
    overflow: auto;
    position: relative;
    border: 1px solid #aaa;
    outline: none;
    padding: 1rem;
    margin-top: 2px;

}

.content_result {
    width: 100%;
    max-height: 56vh;
    overflow: auto;
    position: relative;


}


.content_result h2 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 27px;
    color: #111;
}

.content_result h3 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    line-height: 27px;
    color: #111;
}


.content_result p {
    font-family: -apple-system, sans-serif, sans-serif;
    font-size: 13px;
    line-height: 27px;
    color: #444;
    padding: 0.5rem 0rem;
}

.content_result .desc {
    font-family: -apple-system, sans-serif, sans-serif;
    font-style: italic;
    font-size: 13px;
    line-height: 27px;
    font-weight: 500;
    color: #111;
    padding: 0.5rem 0rem;
}

.content_result a {
    font-family: -apple-system, sans-serif, sans-serif;
    font-style: italic;
    font-size: 13px;
    line-height: 27px;
    color: #6d0404;
    padding: 0.5rem 0rem;
}

.content_desc {
    padding: 0.5rem 0.25rem;
    padding-bottom: 3rem;
    background-color: rgb(253, 187, 187);
    font-size: 12px;
    line-height: 19px;
    color: #666;
    height: 60px;
    overflow: hidden;
    position: relative;
    z-index: 60;
    overflow: hidden;
}

.content_desc.active {
    background-color: #cde2bb;
}

.modal_result{
    position: relative;
}
.modal_result #length {
    position: absolute;
    top: 0;
    font-size: 12px;
    line-height: 12px;
    transform: translateY(-18px);
    padding: 4px 0px;
}