* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}



.login-container {
    background: linear-gradient(#f6bdbd44, rgb(204, 215, 226, 0.4));
    padding: 60px 40px;
    border-radius: 1px;
    box-shadow: 0 8px 20px #aaa2;
    width: 100%;
    max-width: 440px;
    margin: 20vh auto;
    position: relative;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 40px;
    color: #555;
}

input {
    width: 100%;
    padding: 15px 10px;
    border-radius: 2px;
    border: 1px solid #aaa6;
    background-color: #fafafafa;
    outline: none;
    margin: 6px 0px;
}


button {
    width: 100%;
    padding: 16px 12px;
    background-color: #15181e;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(2rem);
}

button:hover {
    background-color: #000;
}

#errorMsg {
    position: absolute;
    bottom: -4rem;
    left: 0rem;
    width: 100%;
    display: none;
    padding: 1.2rem 1rem;
    color: #000;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    text-align: center;
}

#errorMsg.red {
    display: block;
    background-color: rgba(251, 230, 230, 0.774);

}

#errorMsg.green {
    display: block;
    background-color: rgba(102, 204, 115, 0.2);
}